    <noscript style="margin-top: 10px; background: white; padding: 10px; text-align: center; width: 100vw; position: fixed; z-index: 100;">This site requires JavaScript to function properly — <a style="text-decoration: underline; color: lavender;" href="https://www.enable-javascript.com/">please enable JavaScript in your browser</a> for the best user experience.</noscript>
		
    <button id="mobileMenu" class="mobile-menu" aria-label="show menu" aria-pressed="false"></button>

    <header id="header" class="header">
        <nav class="header-nav">
            <ul id="headerUl" class="header-ul">
                <li class="nav-li"><a href="/home" class="nav-link">Home</a></li>
                <li class="nav-li"><a href="/profile" class="nav-link">My Profile</a></li>
                <li class="nav-li"><a href="/find" class="nav-link">Find Appointment</a></li>
                <li class="nav-li"><a href="/add" class="nav-link">Add Appointment</a></li>
                <li class="nav-li"><a href="/auth/logout" class="nav-link">Log Out</a></li>
            </ul> 
        </nav>
    </header>