<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>
    
    <main class="404">
        <h1>Oops, page not found!</h1>
        <p>The page you requested either doesn't exist or has been removed.</p>
    </main>
        
    <%- include('./partials/footer') %>
</body>
</html>