<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <main class="login">
        <a class="login-text" href="/auth/microsoft">Log in with your healthcare organisation email</a>
    </main>
    
    <%- include('./partials/footer') %>
</body>
</html>